@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #373636;
    font-family: 'Quicksand', sans-serif;
    background-color: #F2EFE8;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

/* social media */
.fa-linkedin {
    font-size: 29px;
}

.fa-github {
    font-size: 27px;
}

.fa-envelope {
    font-size: 26px;
}

.active {
    color: red !important;
}

/* portfolio zoom efect */
figure {
    overflow: hidden;
}

/* contact title */
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

.title {
    font-size: 40px;
    color: #8B1ADC;
}

/* mobil nav  */
#bars-icon {
    display: flex;
    font-size: 2rem;
    color: white;
}

#cross-icon {
    display: none;
    font-size: 1.5rem;
    color: white;
}

#nav {
    display: none;
}

/* desktop layout */
@media (min-width: 768px) {
    #bars-icon {
        display: none;
    }

    #cross-icon {
        display: none;
    }

    #nav {
        display: flex;
    }

    /* Contact title */
    .title {
        margin-bottom: 50px;
    }
    
}