.contact {
    display: flex;
    justify-content: center;
}

.contact i {
    padding: 1rem 1rem;
    color: #8B1ADC;
}

@media (min-width: 768px) {
    .contact {
        flex-direction: column;
        justify-content: unset;
        margin: 15px 15px 15px 0;
        position: fixed;
        bottom: 0;
    }

    .contact i {
        padding: 1rem 2rem;
    }

    .contact i:hover {
        opacity: 1;
    }

    .box {
        position: relative;
        display: inline-block;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    .box::after {
        content: '';
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .box:hover {
        transform: scale(1.2, 1.2);
    }

    .box:hover::after {
        opacity: 1;
    }
}